/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  line-height: 1.3;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  position: absolute;
  inset-block-start: var(--header-padding);
  inset-inline-end: var(--header-padding);
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  position: absolute;
  inset-block-end: var(--header-padding);
  inset-inline-start: var(--header-padding);
}

.header__dark-theme-decoration {
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: calc(var(--header-padding) + 28px);
  inset-block-start: var(--header-padding);
  font-size: 18px;
  z-index: 3;
}

.header__dark-theme-decoration::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0 0 4px var(--accent-color));
  background-color: var(--accent-color);
  inset-inline-start: 42px;
  inset-block-start: 8px;
}

.header {
  display: grid;
  min-block-size: 100vh;
  padding: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

button:disabled {
  pointer-events: none;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 10vh;
  min-height: 95px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  margin-block-end: -10px;
}

.title-margin {
  margin-block-end: 0;
}

.header__paragraph {
  justify-self: end;
  align-self: baseline;
  max-inline-size: 364px;
  max-height: 117px;
}

.content {
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
  padding: 0 var(--content-padding);
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  font-size: inherit;
  color: var(--accent-color);
}

.content__title-paragraph {
  font-weight: 400;
}

.content__paragraph {
  color: var(--text-color);
}

.content-link {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.content-link:hover {
  cursor: pointer;
}

.content__gallery {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr 1fr 1.5fr 1fr;
  gap: 10px;
}

.content__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  block-size: 100vh;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  line-height: 82.5%;
}

@media (width >= 768px) {

  :root {
    --content-padding: 20px;
    --header-padding: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__section-right {
    grid-template-columns: 0.5fr 1fr;
  }
  
  .content__article-right-first {
    grid-row-start: 1;
    grid-row-end: span 4;
  }

  .content__article-right-second {
    grid-row-start: 1;
    grid-row-end: span 11;
  }

  .content__min-title {
    inline-size: min-content;
 }

  .header {
    padding: var(--header-padding);
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 17vh;
  }
  
  .content {
    margin-block-start: 60px;
    gap: 80px;
    }

  .content__gallery {
    display: grid;
    grid-template-rows: min-content;
    gap: 20px;
    margin-block-start: 10px;
  }

  .image_sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .image_ice-cream {
    grid-column-start: 3;
    grid-row-end: span 2;
  }

  .image_tape {
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .image_street {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (width >= 1024px) {
  
  .header__paragraph  {
    max-inline-size: 491px;
    max-height: 71px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 0;
    min-width: max-content;
    min-height: min-content;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-start: 19vh;
  }

  .content__section-1024 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: column;
  }

  .content__article-1024 {
    grid-column-start: 1;
    grid-column-end: span 3;
    inline-size: 300px;
  }

  .content__min-title {
    inline-size: 300px;
 }

 .content__section-right {
  column-gap: 10px;
 }
}