/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #F1B2CE;
  --main-font: IBM Plex Mono, sans-serif;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --title-color: #000028;
  --content-padding: 10px;
  --header-padding: 10px;
}